.SearchBar {    
  align-items: center;
  height: 3em;  
  line-height: 3em;

  background-color: brown;
}

.SearchText {
  width: 14em;
  font-size: 1.5em;
  border-radius: 0.33em; 
}

.SearchButton {
  cursor: pointer;
  width: 4em;  
  font-size: 1.5em;
  border-radius: 0.33em;
  margin-left: 0.25em;
}
